body {
    background-color: black;
    color: #00FF00;
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 300;
}

h1 {
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
}

@media (min-width: 1000px) {
    .h1, h1 {
        font-size: 3.5rem !important;
    }
}

a {
    color: #00FF00;
    text-decoration: none;
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

#introduction {
    margin: auto;
    width: 70%;
    line-height: 1.6;
}

.introduction-div {
    display: inline-block;
    text-align: left;
    position: relative;
    left: 1rem;
}

/* ---------- index.html ---------- */
/* ---------- Typing animation ---------- */
.type {
    color:#0000;
    background:
      linear-gradient(-90deg,#00FF00 5px,#0000 0) 10px 0,
      linear-gradient(#00FF00 0 0) 0 0;
    background-size:calc(var(--n)*1ch) 200%;
    -webkit-background-clip:padding-box,text;
    background-clip:padding-box,text;
    background-repeat:no-repeat;
    animation:
     b 1s infinite steps(1),
     t calc(var(--n)*.13s) steps(var(--n)) forwards;
}

@keyframes t{
    from {background-size:0 200%}
}
@keyframes b{
    50% {background-position:0 -100%,0 0}
}

/* ---------- Folder CSS ---------- */
.folder {
    height: 110px;
    width: 110px;
    font-size: 110%;
    touch-action: none;
    user-select: none;
    position: absolute;
}

.folder:active{
    background-color: #18ff183d;
}

.folder:hover{
    cursor: pointer;
    outline: #00FF00 dotted 2px;
}

.folder-about {
    top: 20%;
    left: 27%;
}

@media screen and (max-width: 1560px) {
    .folder-about {
        top: 15%;
        left: 20%;
    }
}

@media screen and (max-width: 1150px) {
    .folder-about {
        left: 14%;
    }
}

@media screen and (max-width: 840px) {
    .folder-about {
        left: 10%;
    }
}

@media screen and (max-width: 380px) {
    .folder-about {
        top: 5%;
    }
}

@media screen and (max-height: 550px) {
    .folder-about {
        top: 5%;
    }
}

.folder-projects {
    top: 30%;
    left: 65%;
}

@media screen and (max-width: 1500px) {
    .folder-projects {
        left: 70%;
    }
}

@media screen and (max-width: 1200px) {
    .folder-projects {
        left: 75%;
    }
}

@media screen and (max-width: 463px) {
    .folder-projects {
        top: 18%;
        left: 68%;
    }
}

.folder-contact {
    top: 65%;
    left: 35%;
}

@media screen and (max-height: 470px) {
    .folder-contact {
        top: 55%;
    }
}

@media screen and (max-height: 335px) {
    .folder-contact {
        top: 50%;
        left: 13%;
    }
}

.img-folder {
    width: 90px;
    height: 90px;
}

.text-folder{
    position: relative;
    bottom: 6px;
    color: #00FF00;
}

/* ---------- Navbar ---------- */
.navbar{
    background-color: black;
}

.container{
    width: 55%;
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-brand{
    font-size: 210%;
    color: #00FF00;
}

.navbar-brand:focus, .navbar-brand:hover {
    color: #00FF00;
}

.navbar-nav{
    margin-left: auto;
    margin-right: -7px;
}

.nav-link {
    color: #00FF00;
}

.nav-link:link {
    color: #00FF00;
}

.nav-link:visited {
    color: #00FF00;
}

.nav-link:hover {
    color: #069e06;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("../img/green-burger.svg");
}

.custom-toggler.navbar-toggler {
    border-color: #00FF00;
}

@media screen and (max-width: 600px) {
    .container {
        width: 75%;
    }
}

/* ---------- about.html ---------- */

#about-text {
    margin: auto;
    width: 55%;
    font-size: 115%;
    line-height: 1.6;
}

@media screen and (max-width: 600px) {
      #about-text {
        width: 75%;
        font-size: 100%;
    }
}

.about-div {
    display: inline-block;
    text-align: left;
    position: relative;
    left: 1rem;
    right: 0px;
    left: 0px;
    text-align: justify;
    margin-top: 90px;
}

.type-about {
    color:#0000;
    background:
      linear-gradient(-90deg,#00FF00 5px,#0000 0) 10px 0,
      linear-gradient(#00FF00 0 0) 0 0;
    background-size:calc(var(--n)*1ch) 200%;
    -webkit-background-clip:padding-box,text;
    background-clip:padding-box,text;
    background-repeat:no-repeat;
    animation:
     b 1s infinite steps(1),
     t calc(var(--n)*.01s) steps(var(--n)) forwards;
}

.resume {
    font-size: 130%;
}

.resume:link {
    color: #00FF00;
    background-color: transparent;
    text-decoration: none;
}

.resume:visited {
    color: #00FF00;
    background-color: transparent;
    text-decoration: none;
}

.resume:hover {
    text-decoration: underline;
}

/* ---------- projects.html ---------- */
#projects {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#projects-folders {
    padding-top: 185px;
    padding-bottom: 65px;
}

@media screen and (max-width: 1441px) {
    #projects-folders {
        padding-top: 165px;
    }
}

@media screen and (max-width: 575px) {
    #projects-folders {
        padding-top: 130px;
        padding-bottom: 30px;
    }
}

#projects-folders .folder {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: unset;
    min-width: 130px;
    width: min-content;
}

#projects-folders .col-sm {
    height: 147px;
}

.folder_1 {
    left: 64px;
    bottom: 30px;
}

.folder_2 {
    right: 40px;
}

.folder_3 {
    right: 36px;
    bottom: 27px;
}

.folder_4 {
    right: 31px;
}

.folder_5 {
    left: 45px;
    top: 25px;
}

.folder_6 {
    right: 37px;
}

.folder_7 {
    right: 27px;
    top: 26px;
}

.folder_8 {
    right: 56px;
    top: 33px;
}

.folder_9 {
    right: 45px;
    bottom: 35px;
}

.folder_10 {
    left: 70px;
    top: 35px;
}

.folder_11 {
    top: 69px;
}

.folder_12 {
    right: 0px;
    bottom: 0px;
}

.folder_13 {
    right: 50px;
    top: 66px;
}

@media screen and (max-width: 989px) {
    .folder_1 {
        left: 35px;
    }

    .folder_5 {
        left: 18px;
    }

    .folder_6 {
        bottom: 46px;
    }

    .folder_13 {
        right: 0px;
    }
}

@media screen and (max-width: 786px) {
    .folder_1 {
        left: 10px;
    }

    .folder_2 {
        right: 13px;
    }

    .folder_4 {
        right: -43px;
        top: 10px;
    }

    .folder_7 {
        right: -13px;
    }

    .folder_8 {
        top: 0px;
    }

    .folder_9 {
        bottom: -26px;
    }

    .folder_10 {
        left: -100px;
        top: 21px;
    }

    .folder_11 {
        right: 39px;
    }

}

@media screen and (max-width: 677px) {

    .folder_2 {
        right: -9px;
        top: 38px;
    }

    .folder_3 {
        right: 59px;
        bottom: 0px;
    }

    .folder_6 {
        bottom: -5px;
        right: 108px;
    }

}

@media screen and (max-width: 600px) {

    .folder_6 {
        bottom: 21px;
        right: 37px;
    }

}

@media screen and (max-width: 585px) {

    .folder_6 {
        bottom: -14px;
        right: 96px;
    }

}

@media screen and (max-width: 575px) {

    .folder_1 {
        left: -41px;
        right: 0px;
        top: 0px;
        bottom: 0px;
    }

    .folder_2 {
        left: 30px;
        right: 0px;
        top: 0px;
        bottom: 0px;
    }

    .folder_3 {
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
    }

    .folder_4 {
        left: 20px;
        right: 0px;
        top: 0px;
        bottom: 0px;
    }

    .folder_5 {
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
    }

    .folder_6 {
        left: -42px;
        right: 0px;
        top: 0px;
        bottom: 0px;
    }

    .folder_7 {
        left: 21px;
        right: 0px;
        top: 0px;
        bottom: 0px;
    }

    .folder_8 {
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
    }

    .folder_9 {
        left: 29px;
        right: 0px;
        top: 0px;
        bottom: 0px;
    }

    .folder_10 {
        left: -18px;
        right: 0px;
        top: 0px;
        bottom: 0px;
    }

    .folder_11 {
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
    }

    .folder_12 {
        left: -48px;
        right: 0px;
        top: 0px;
        bottom: 0px;
    }

    .folder_13 {
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
    }
}

/* ---------- contact.html ---------- */
#contact {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#contact-text {
    margin: auto;
    margin-top: 180px;
    width: 55%;
    font-size: 115%;
    line-height: 1.6;
}

.contact-div {
    display: inline-block;
    text-align: left;
    position: relative;
    left: 1rem;
    right: 0px;
    left: 0px;
    text-align: justify;
}

.type-contact-heading {
    color:#0000;
    background:
      linear-gradient(-90deg,#00FF00 5px,#0000 0) 10px 0,
      linear-gradient(#00FF00 0 0) 0 0;
    background-size:calc(var(--n)*1ch) 200%;
    -webkit-background-clip:padding-box,text;
    background-clip:padding-box,text;
    background-repeat:no-repeat;
    animation:
     b 1s infinite steps(1),
     t calc(var(--n)*.01s) steps(var(--n)) forwards;
}

.type-contact-body {
    color:#0000;
    background:
      linear-gradient(-90deg,#00FF00 5px,#0000 0) 10px 0,
      linear-gradient(#00FF00 0 0) 0 0;
    background-size:calc(var(--n)*1ch) 200%;
    -webkit-background-clip:padding-box,text;
    background-clip:padding-box,text;
    background-repeat:no-repeat;
    opacity: 0;
    animation:
     b-contact-body 1s infinite steps(1),
     t-contact-body calc(var(--n)*.01s) steps(var(--n)) forwards,
     text-contact-body 1s infinite;
     animation-delay: .35s;

}

@keyframes t-contact-body{
    from {background-size:0 200%; opacity: 1;}

}
@keyframes b-contact-body{
    50% {background-position:0 -100%,0 0; opacity: 1;}
}

@keyframes text-contact-body{
    0% {opacity: 1;}
    100% {opacity: 1;}
}

#contact-folders {
    margin-bottom: 120px;
}

#contact-folders .folder {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: unset;
    min-width: 110px;
    width: min-content;
}

.folder-email {
    top: 60px;
    left: 25px;
}

.folder-email:hover{
    width: 250px !important;
    height: 137px;
    margin: 0 -70px;
}

.folder-email:hover .email-text-folder {
    display: none
}

.folder-email .email-address {
    display: none
}

.folder-email:hover .address {
    position: relative;
    bottom: 6px;
    color: #00FF00;
    display: unset

}.folder-email:hover .copy-address {
    position: relative;
    bottom: 6px;
    color: #00FF00;
    display: unset
}

.folder-email:active .copy-address {
    display: none
}

.folder-email:active .copied-address {
    position: relative;
    bottom: 6px;
    color: #00FF00;
    display: unset
}

.folder-linkedin {
    top: 110px;
    right: 60px;
}

@media screen and (max-width: 600px) {
    #contact-text {
        margin-top: 100px;
        width: 75%;
        font-size: 100%;
    }
}

@media screen and (max-width: 800px) {
    .folder-email {
        left: 0px;
    }

    .folder-linkedin {
        right: 30px;
    }
}

@media screen and (max-width: 642px) {
    .folder-email {
        top: 50px;
        left: 0px;
    }

    .folder-linkedin {
        top: 85px;
        right: 20px;
    }
}

@media screen and (max-width: 474px) {
    .folder-email {
        top: 25px;
    }

    .folder-linkedin {
        top: 55px;
    }
}

/* ---------- Footer ---------- */
.before-footer {
    flex:1;
}

#footer {
    padding-top: 1.5rem;
    padding-bottom: 2rem;
}

@media screen and (max-height: 470px) {
    #footer {
        padding-top: 0.5rem;
        padding-bottom: 1rem;
    }
}
